{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Home</a></li>
        <li class="active">Chapter list</li>
    </ol>

    <h1>Chapter list</h1>

    <table class="ta">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapter in chapters %}
            <tr>
                <td><a href="{{ path('chapter_show', { 'id': chapter.id }) }}">{{ chapter.id }}</a></td>
                <td>{{ chapter.name }}</td>
                <td>{{ chapter.number }}</td>
                <td>{{ chapter.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chapter_show', { 'id': chapter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chapter_edit', { 'id': chapter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chapter_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
